<mat-card>
    <mat-card-title>Simular Empréstimo</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="min-width">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome do solicitante" formControlName="nome">
          </mat-form-field>
          
            <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Número de parcelas"  min="1" max="1000" formControlName="numeroParcela">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Valor Desejado</mat-label>
                <input matInput placeholder="0" formControlName="valorDesejado" currencyMask [options]="{ prefix: 'R$ ' }">
            </mat-form-field>
            
            <mat-form-field class="full-width" *ngIf="isSimulacao">
                <mat-label>Valor das Parcelas</mat-label>
                <input matInput placeholder="0" formControlName="valorParcela"  currencyMask [options]="{ prefix: 'R$ ' }">
            </mat-form-field>
            
            <mat-form-field class="full-width" *ngIf="isSimulacao">
                <mat-label>Valor Total</mat-label>
                <input matInput placeholder="0" formControlName="valorTotal" currencyMask [options]="{ prefix: 'R$ ' }" >
            </mat-form-field>

        </form>
      </mat-card-content>
    
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSimular()" *ngIf="!isSimulacao">Simular empréstimo</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="isSimulacao">confirmação</button>
        <button mat-raised-button color="cancel" (click)="onLimpar()" *ngIf="isSimulacao">Limpar</button>
        <button mat-raised-button (click)="onCancelar()">Cancelar</button>
      </mat-card-actions>
</mat-card>
