<mat-card>
    <div class="container-button-center" >
        <button mat-flat-button color="primary"  (click)="simular()" >Simular Emprestimo</button>
    </div>
</mat-card>
<mat-card>
    <table mat-table [dataSource]="emprestimos" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
        
        <ng-container matColumnDef="valorOriginal">
            <th mat-header-cell *matHeaderCellDef> Valor Solicitado </th>
            <td mat-cell *matCellDef="let element"> {{element.valorOriginal |  currency : 'R$ '}} </td>
        </ng-container>
        
        <ng-container matColumnDef="valorParcela">
            <th mat-header-cell *matHeaderCellDef> Valor da Parcela </th>
            <td mat-cell *matCellDef="let element"> {{element.valorParcela |  currency : 'R$ '}} </td>
        </ng-container>
        
        <ng-container matColumnDef="numeroParcela">
            <th mat-header-cell *matHeaderCellDef> Nº de Parcela </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroParcela}} </td>
        </ng-container>

        <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.valorTotal |  currency : 'R$ ' }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Cancelar </th>
            <td mat-cell  *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="onCancelar(element.id)" aria-label="Cancelar Emprestimo">
                <mat-icon >delete</mat-icon>
                </button>
            </td>  
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">Não possui empréstimo solicitado</td>
        </tr>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
  
  